body {
            font-family: Arial;
            margin: 40px;
        }

        header {
            display: flex;
            align-items: center;
        }

        header h1 {
            font-size: 3;
        }

        section {
            margin-top: 40px;
        }

        footer {
            margin-top: 60px;
            text-align: center;
            color: #000000;
        }

        img {
            width: 150px;
            height: 150px;
        }